<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"template/";

/* ページID */
var pageId = "column-all";
%>
<!DOCTYPE html>
<html lang="ja">
<% /* ヘッド（titleやdiscriptionやogなど） */ %>
<%- include(setLayered + "base/head", { pageId: pageId }) %>
<body class="pageId">

<% /* ヘッダー */ %>
<%- include(setLayered + "base/header") %>

<% /* パンくず */ %>
<%- include(setLayered + "list-breadcrumb/list-breadcrumb", {
	listBreadcrumb: [
		{
			txtBreadcrumb: 'top',
			linkBreadcrumb: 'link-top'	
		},
		{
			txtBreadcrumb: 'column',
			linkBreadcrumb: 'link-column'	
		}
	]
}) %>

<% /* 各ページ／見出し */ %>
<%- include(setLayered + "ttl-pageHead/ttl-pageHead", {
	ttlPageHead: "コラム一覧"
}) %>

<% /*  コラム一覧／カテゴリーナビゲーション */ %>
<%- include(setLayered + "list-column/list-column-navigation/list-column-navigation", {
	pageId: pageId,
	navCategory: [
		{
			txtCategory: "all",
			linkCategory: "/column/"		
		},
		{
			txtCategory: "culture",
			linkCategory: "/category/culture/"		
		},
		{
			txtCategory: "news",
			linkCategory: "/category/news/"		
		},
		{
			txtCategory: "product",
			linkCategory: "/category/product/"		
		}
	]
}) %>

<% /* コラム一覧 */ %>
<ul class="list-column">
<%- include(setLayered + "list-column/box-column/box-column", {
	loopNum: 12
}) %>
</ul><!-- /.list-column -->

<% /* コラム一覧／ページネーション */ %>
<%- include(setLayered + "list-column/nav-pagenation/nav-pagenation") %>

<% /* フッター */ %>
<%- include(setLayered + "base/footer") %>

</body>
</html>