<div class="box-columnMain">
	
	<img src="<%= imgColumnMain %>" alt="thumbnail of <%= ttlColumnMainEnglish %> / <%= ttlColumnMainjapanese %>のサムネイル" width="100%" height="">
	
	<div class="txt-columnMain txt-columnMainEnglish">
		
		<p><strong><%= ttlColumnMainEnglish %></strong></p>
			
		<p><%- txtColumnMainEnglish %></p>
		
		<p><em><%- txtColumnCaptionEnglish %></em></p>
		
	</div><!-- /.txt-columnMainEnglish -->
	
	<div class="txt-columnMain txt-columnMainJapanese">
	
		<p><strong><%= ttlColumnMainjapanese %></strong></p>
			
		<p><%- txtColumnMainjapanese %></p>
		
		<p><em><%- txtColumnCaptionjapanese %></em></p>
	
	</div><!-- /.txt-columnMainJapanese -->

</div><!-- /.box-columnMain -->