<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"template/";

/* ページID */
var pageId = "area-home";

/* cssのファイル名（拡張子は不要。複数ある場合は、『,』で区切って記入） */
var cssFileName = ["top"];
%>
<!DOCTYPE html>
<html lang="ja">
<% /* ヘッド（titleやdiscriptionやogなど） */ %>
<%- include(setLayered + "base/head", { pageId: pageId, cssFileName: cssFileName }) %>
<body class="<%- pageId  %>">

<% /* ヘッダー */ %>
<%- include(setLayered + "base/header") %>

<% /* トップ／メインビジュアル */ %>
<div class="box-mainVisual">
	<div class="box-mainVisualInr">
		<img class="img-mainVisual" src="https://ginzamag.com/wp-content/uploads/2018/09/e65e02afd7415a7a3d4127dfba6e0145.jpg" alt="" width="100%" height="">
		<p class="txt-mainVisualCategory">product</p>
		<div class="ttl-mainVisual">サンプルのキャプション1</div>
		<p class="txt-mainVisualDate">2018.10.10</p>
	</div><!-- /.box-mainVisualInr -->
	
	<div class="box-mainVisualInr">
		<img class="img-mainVisual" src="https://ginzamag.com/wp-content/uploads/2018/09/9277ac0a164146ab6435ef4a295d0a41.jpg" alt="" width="100%" height="">
		<p class="txt-mainVisualCategory">news</p>
		<div class="ttl-mainVisual">サンプルのキャプション2</div>
		<p class="txt-mainVisualDate">2018.10.9</p>
	</div>
	
	<div class="box-mainVisualInr">
		<img class="img-mainVisual" src="https://ginzamag.com/wp-content/uploads/2018/09/9277ac0a164146ab6435ef4a295d0a41.jpg" alt="" width="100%" height="">
		<p class="txt-mainVisualCategory">culture</p>
		<div class="ttl-mainVisual">サンプルのキャプション3</div>
		<p class="txt-mainVisualDate">2018.10.8</p>
	</div>
</div><!-- /.box-mainVisual -->

<% /* トップ／アバウト */ %>
<div class="box-about">
	<dl class="data-about">
		<dt class="ttl-About">About</dt>
		<dd class="txt-about txt-about-english">I will input the ABOUT from here.I will input the ABOUT from here.I will input the ABOUT from here.</dd>
		<dd class="txt-about txt-about-japanese">テキスト入りますテキスト入りますテキスト入りますテキスト入ります</dd>
	</dl><!-- /.data-about -->
	
	<%- include(setLayered + "btn-detail/btn-detail",{
		linkDetail: "/about/"
	}) %>
</div><!-- /.box-About -->

<% /* トップ／小見出し */ %>
<p class="ttl-sectionHead">column</p>

<% /* コラム一覧 */ %>
<ul class="list-column">
<%- include(setLayered + "list-column/box-column/box-column", {
	loopNum: 6
}) %>
</ul><!-- /.list-column -->

<%- include(setLayered + "btn-detail/btn-detail",{
	txtDetail: "コラムをもっと見る",
	linkDetail: "/column/"
}) %>

<% /* トップ／小見出し */ %>
<p class="ttl-sectionHead">instagram</p>

<% /* インスタグラム */ %>
<ul id="instafeed" class="list-instagram"></ul>
<p class="btn-instagramMore">インスタグラムをもっとみる</p>

<% /* フッター */ %>
<%- include(setLayered + "base/footer") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/instafeed.min.js"></script>
<script>
	// メインビジュアルの設定
	$(document).ready(function(){
		$('.box-mainVisual').bxSlider({
			mode: "horizontal",
			auto: true,
			speed: "500",
			pause: "3000",
			infiniteLoop: true,
			captions: false,
			responsive: true,
			touchEnabled: true,
			pager: true,
			controls: true,
			nextText: "次へ",
			prevText: "前へ",
			easing: "ease"
		});
	});
	
	// インスタグラムの設定
	$(document).ready(function() {
		var feed = new Instafeed({
			target: 'instafeed',
			get: 'user',
			userId: '1505949283',
			accessToken:'1505949283.efb1764.849218d89466419b9d87f6719a6bd991',
			clientId: 'efb17640a588441eac32489b08794145',
			links: true ,
			limit: 8,
			resolution: 'standard_resolution',
			template: '<li class="img-instagram"><a href="{{link}}" target="_blank"><img src="{{image}}" /></a></li>'
		});
	
		$('.btn-instagramMore').click(function() {
			feed.next();
		});
		
		feed.run();
	});
</script>
</body>
</html>