<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"template/";

/* ページID */
var pageId = "home";

/* cssのファイル名（拡張子は不要。複数ある場合は、『,』で区切って記入） */
var cssFileName = ["home"];
%>
<!DOCTYPE html>
<html lang="ja">
<% /* ヘッド（titleやdiscriptionやogなど） */ %>
<%- include(setLayered + "base/head", { pageId: pageId, cssFileName: cssFileName }) %>
<body class="area-<%- pageId  %>">

<% /* ヘッダー */ %>
<%- include(setLayered + "base/header") %>

<div class="box-content-<%- pageId  %>">

<% /* トップ／メインビジュアル */ %>
<div class="box-mainVisual">
	<a class="box-mainVisualInner" href="#">
		<span class="img-mainVisual"><img src="https://placehold.jp/1200x720.png" alt="" width="100%" height=""></span><!-- /.img-mainVisual -->
		
		<div class="box-articleInfo box-ScrollAnimaton">
			<p class="txt-mainVisualCategory txt-fontAlphabet">product</p>
			<p class="ttl-mainVisual-english txt-fontAlphabet">sample caption sample caption sample caption sample caption sample caption  sample caption  sample caption  sample caption </p>
			<p class="ttl-mainVisual-japanese">サンプルのキャプションサンプルのキャプションサンプルのキャプションサンプルのキャプションサンプルのキャプション</p>
			<p class="txt-mainVisualDate">6 / 1 / 2019</p>
		</div>
	</a>
</div><!-- /.box-mainVisual -->

<% /* コラム一覧 */ %>
<div class="wp-column">
	<ul class="list-column">
	<%- include(setLayered + "list-column/box-column/box-column", {
		loopNum: 3
	}) %>
	</ul><!-- /.list-column -->
</div><!-- /.wp-column -->

<div class="wp-columnDetail">
	<div class="box-columnDetail">
	<% /* ボタン */ %>
	<%- include(setLayered + "btn-detail/btn-detail",{
		txtDetail: "More",
		linkDetail: "#"
	}) %>
	</div><!-- /.box-columnDetail -->
</div><!-- /.wp-columnDetail -->

<% /* トップ／アバウト */ %>
<div class="box-about">
	<div class="box-aboutInner">
		<dl class="data-about">
			<dt class="ttl-About txt-fontAlphabet">About</dt>
			<dd class="txt-about txt-about-english txt-fontAlphabet">Dunny about writer.　Boyer is ...<br>
			Dunny about writer.　Boyer is ...</dd>
			<dd class="txt-about txt-about-japanese">日本語訳入ります日本語訳入ります<br>
			日本語訳入ります日本語訳入ります</dd>
			
			<dd>
				<%- include(setLayered + "btn-detail/btn-detail",{
					txtDetail: "More",
					linkDetail: "#"
				}) %>
			</dd>
		</dl><!-- /.data-about -->
		
		<div class="img-about">
			<img src="https://placehold.jp/240x100.png" alt="" width="100%" height="">
		</div><!-- /.img-about -->
	</div><!-- /.box-aboutInner -->
</div><!-- /.box-About -->

</div><!-- /.box-content-<%- pageId  %> -->

<% /* フッター */ %>
<%- include(setLayered + "base/footer") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/base.min.js"></script>
</body>
</html>