<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"template/";

/* ページID */
var pageId = "area-home";

/* cssのファイル名（拡張子は不要。複数ある場合は、『,』で区切って記入） */
var cssFileName = ["home"];
%>
<!DOCTYPE html>
<html lang="ja">
<% /* ヘッド（titleやdiscriptionやogなど） */ %>
<%- include(setLayered + "base/head", { pageId: pageId, cssFileName: cssFileName }) %>
<body class="<%- pageId  %>">

<% /* ヘッダー */ %>
<%- include(setLayered + "base/header") %>

<% /* トップ／メインビジュアル */ %>
<div class="box-mainVisual">
	
	<div class="tmb-mainVisual">
		<div class="tmb-mainVisualInner">
			<a href="#"><img class="img-mainVisual" src="https://ginzamag.com/wp-content/uploads/2018/09/e65e02afd7415a7a3d4127dfba6e0145.jpg" alt="" width="100%" height=""></a>
		</div><!-- /.tmb-mainVisualInner -->
	</div><!-- /.tmb-mainVisual -->
	
	<div class="box-articleInfo">
		<p class="txt-mainVisualCategory txt-fontAlphabet">product</p>
		<div class="ttl-mainVisual-english txt-fontAlphabet">sample caption sample caption sample caption sample caption sample caption  sample caption  sample caption  sample caption </div>
		<div class="ttl-mainVisual-japanese">サンプルのキャプションサンプルのキャプションサンプルのキャプションサンプルのキャプションサンプルのキャプション</div>
		<p class="txt-mainVisualDate">6 / 1 / 2019</p>
	</div><!-- /.box-articleInfo -->
</div><!-- /.box-mainVisual -->

<% /* トップ／アバウト */ %>
<div class="box-about">
	<dl class="data-about">
		<dt class="ttl-About">About</dt>
		<dd class="txt-about txt-about-english">I will input the ABOUT from here.I will input the ABOUT from here.I will input the ABOUT from here.</dd>
		<dd class="txt-about txt-about-japanese">テキスト入りますテキスト入りますテキスト入りますテキスト入ります</dd>
	</dl><!-- /.data-about -->
	
	<%- include(setLayered + "btn-detail/btn-detail",{
		linkDetail: "/about/"
	}) %>
</div><!-- /.box-About -->

<% /* トップ／小見出し */ %>
<p class="ttl-sectionHead">column</p>

<% /* コラム一覧 */ %>
<ul class="list-column">
<%- include(setLayered + "list-column/box-column/box-column", {
	loopNum: 6
}) %>
</ul><!-- /.list-column -->

<%- include(setLayered + "btn-detail/btn-detail",{
	txtDetail: "コラムをもっと見る",
	linkDetail: "/column/"
}) %>

<% /* フッター */ %>
<%- include(setLayered + "base/footer") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/instafeed.min.js"></script>
<script src="/js/base.min.js"></script>
</body>
</html>