<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"template/";

/* ページID */
var pageId = "column-detail";

/* cssのファイル名（拡張子は不要。複数ある場合は、『,』で区切って記入） */
var cssFileName = ["column-detail"];
%>
<!DOCTYPE html>
<html lang="ja">
<% /* ヘッド（titleやdiscriptionやogなど） */ %>
<%- include(setLayered + "base/head", { pageId: pageId, cssFileName: cssFileName }) %>
<body class="area-<%- pageId  %>">

<% /* ヘッダー */ %>
<%- include(setLayered + "base/header") %>

<div class="box-content-<%- pageId  %>">

	<% /* コラム詳細／見出し・メタ情報 */ %>
	<%- include(setLayered + "column-detail/box-columnHead/box-columnHead", {
		ttlColumnEnglish: "title from here.title from here.title from here.title from here.title from here.title from here.title from here.title from here.title from here.title from here.title from here.",
		ttlColumnJapanese: "タイトル入ります。タイトル入ります。タイトル入ります。タイトル入ります。タイトル入ります。タイトル入ります。タイトル入ります。タイトル入ります。タイトル入ります。タイトル入ります。タイトル入ります。",
		txtColumnDate: "11  /  8  /  2016",
		txtColumnCategory: "culture"
	}) %>
	
	<% /* コラム詳細／メインコンテンツ */ %>
	<div class="box-columnMain">
		
		<img class="img-columnMainThumbnail" src="https://placehold.jp/1200x720.png" alt="" width="100%" height="">
		
		<div class="txt-columnMain">
		
			<p><strong>What is “q”</strong></p>
				
			<p>dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.<br>
				dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.<br>
				dummy text.dummy text.dummy text.dummy text.dummy text.<br>
				dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.</p>
				
			<p>テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。<br>
				テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。<br>
				テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。</p>
		
		</div><!-- /.txt-columnMain -->
	
	</div><!-- /.box-columnMain -->
	
	<% /* コラム詳細／タグ */ %>
	<%- include(setLayered + "column-detail/list-tag/list-tag", {
		listTag: [
			{
				txtListTag: 'インタビュー',
				linkListTag: 'tag-interview'	
			},
			{
				txtListTag: 'デザイン',
				linkListTag: 'tag-design'	
			},
			{
				txtListTag: '九谷焼',
				linkListTag: 'tag-kutaniyaki'	
			},
			{
				txtListTag: '作法',
				linkListTag: 'tag-sahou'	
			},
			{
				txtListTag: '歴史',
				linkListTag: 'tag-rekishi'	
			}
		]
	}) %>
	</ul><!-- /.list-column -->

	<% /* 各ページ／見出し */ %>
	<%- include(setLayered + "ttl-pageHead/ttl-pageHead", {
		ttlPageHead: "Recommend"
	}) %>

	<% /* コラム一覧 */ %>
	<ul class="list-column">
	<%- include(setLayered + "list-column/box-column/box-column", {
		loopNum: 3
	}) %>
	</ul><!-- /.list-column -->

</div><!-- box-content-<%- pageId  %> -->

<% /* フッター */ %>
<%- include(setLayered + "base/footer") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/base.min.js"></script>
</body>
</html>